.el-collapse > div{
  position: relative;
}
.cards.row{
    display:flex;
    flex-flow: row wrap;
    & .el-card {
      margin: 5px 10px;
      cursor: inherit;
      width:80px;
      height: 80px;
      border: 1px solid transparent;
      & /deep/ .el-card__body{
        padding: 5px 5px;
        text-align: center;
        & img{
          display: inline-block;
          width: 60%;
        }
        & img.fileIcon{
          position: absolute;
          top: 0;
          width: 22px;
          right: 20%;
        }
      }
      & i{
        font-size: 40px;
      }
    }
    & .el-card.addBorder{
      border: 1px solid #d2d2d2;
    }
}
.cards.col {
  display: flex;
  flex-flow: row wrap;
  & .el-card{
    border: 1px solid transparent;
    width: 33%;
    cursor: inherit;
    box-sizing: border-box;
    & /deep/ .el-card__body{
      & img{
        float: left;
        width: 22px !important;
        margin-right: 5px;
      }
      & img.fileIcon{
        display: none;
      }
    }
  }
  & .el-card.addBorder{
    border: 1px solid #d2d2d2;
  }
}
.el-collapse-item{
  & /deep/ .el-collapse-item__header{
    & > img{
      display: inline-block;
      width: 20px;
      margin-right: 10px;
    }
    & > .el-collapse-item__arrow{
      display: none;
    }
  }
}
.el-collapse-item.is-disabled /deep/ .el-collapse-item__header{
  color: #303133;
  cursor: initial;
}